absl-py
addict
albucore
albumentations
annotated-types
asgiref
asttokens
attrs
autodistill
autodistill-grounded-sam
beautifulsoup4
certifi
cffi
charset-normalizer
click
cmake
colorama
coloredlogs
comm
contourpy
cvzone
cycler
Cython
debugpy
decorator
defusedxml
Django
djangorestframework
dnspython
drf-yasg
easydict
exceptiongroup
executing
filelock
filetype
flatbuffers
fonttools
fsspec
gdown
gunicorn
huggingface-hub
humanfriendly
idna
imageio
importlib-metadata
inflection
insightface
ipykernel
ipython
ipywidgets
jax
jaxlib
jedi
Jinja2
joblib
jupyter-client
jupyter-core
jupyterlab-widgets
kiwisolver
lazy_loader
MarkupSafe
matplotlib
matplotlib-inline
mediapipe
ml_dtypes
mongoengine
mpmath
mysql-connector-python
nest_asyncio
networkx
numpy
onnx
onnxruntime
opencv-contrib-python
opencv-python
opencv-python-headless
openvino
openvino-dev
openvino-telemetry
opt-einsum
packaging
pandas
parso
pickleshare
pillow
pillow-avif-plugin
pillow_heif
platformdirs
prettytable
prompt-toolkit
protobuf
psutil
pure-eval
py-cpuinfo
pycocotools
pycparser
pydantic
pydantic-core
Pygments
pymongo
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
regex
requests
requests-toolbelt
rf-groundingdino
rf-segment-anything
roboflow
safetensors
scikit-image
scikit-learn
scipy
seaborn
sentencepiece
simsimd
six
sounddevice
soupsieve
stack-data
stringzilla
supervision
sympy
threadpoolctl
tifffile
timm
tokenizers
tomli
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
typing-inspection
typing-extensions
tzdata
ultralytics
ultralytics-thop
uritemplate
urllib3
wcwidth
widgetsnbextension
yapf
zipp
